@import url("./assets/caiuss/caiuss.min.css");

html, body
{
  background-color: #f4f4f4;
}

#app .header {
    text-align:center;
}

#app .container {
  /* overwrites fixed width from imported styles */
  width: auto;  
}

#app .left, #app .right {
  width: 43%;
  width: calc(44% - 2px);
  float: left;
  font-size: 19px;
  margin: 1%;
  padding: 2%;
  background-color: #fff;
  border: 1px solid #666;
  min-height: 600px;
}

#app blockquote {
	margin: 0 25px;
	border-left: 6px solid #0078d7;
	padding-left: 9px;
}

#app pre {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

#app .right h1 {
  font-size: 1.5em;
}

#app .right h2 {
  font-size: 1.25em;
}

#app .right h3 {
  font-size: 1em;
}